/**
 * Calendar page.
 *
 * @author Rubens Mariuzzo <rubens@mariuzzo.com>
 */
#calendar-page {

  $calendar-spacing: 5px;

  .toolbar {
    margin-bottom: 10px;
  }

  .btn.current {
    width: 150px;
  }

  ul.calendar {
    list-style-type: none;
    margin: -$calendar-spacing;
    padding: 0;

    > li {
      float: left;
      width: (100%/7);
      padding: $calendar-spacing;
    }
  }

  .day {
    border: #ccc solid 1px;
    padding: 10px;

    .date {
      display: block;
    }

    &.not-in-month {
      opacity: .5;
    }

    &.is-meeting {
      border: #bbb solid 1px;
      background-color: #f4f4f4;
    }

    &.is-today {
      border: mix($brand-primary, #fff, 60%) solid 1px;
      background-color: mix($brand-primary, #fff, 20%);
    }

  }

}
